# Prerequisites
*.d
*.*~

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Linux executables - specific for this repository
*X11
*SVG
TESTS/RawTests/native/native


# IDE configs or cmake temporaries
.idea/*
cmake-build-debug/
cmake-build-release/
cmake-build-relwithdebinfo/
doxDocs/
CMakeFiles/

*.cmake
CMakeLists.txt.user
CMakeCache.txt
Makefile

*.cbp
.qtcreator.err
